
.content-section {
  width: 100%;
  max-width: 600px;
  margin: 30px auto 0 auto;
}

.field-types-group {
  display: inline-block;
  margin-right: 20px;
}
.field-types-group label{
  font-weight: normal;
}
.field-types-group label.filter-label{
  padding-top: 7px;
  margin-right: 8px;
}
.field-types-group .btn {
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-align: center;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding: 3px 10px 2px 10px;
  background-color: transparent;
  border-radius: 0;
}
.field-types-group .btn:not(:first-child) {
  margin-left: 2px;
}
.field-types-group .btn.active {
  color: #394da1;
  border: 2px solid #394da1;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.field-types-group .btn-default {
  color: #666666;
  border: 2px solid #cccccc;
}

.field-types-group .btn-default.active:active,
.field-types-group .btn-default.active:focus,
.field-types-group .btn-default.active:hover,
.field-types-group .btn-default:active,
.field-types-group .btn-default:focus,
.field-types-group .btn-default:hover {
  background-color: transparent;
}

.search.input-group {
  top: 1px;
  display: inline-block;
  width: 230px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
}
.search input {
  font-size: 12px;
  width: 180px;
  border: none;
  background-color: transparent;
  padding: 2px 0 1px 5px;
}
.search input:focus {
  outline: none;
}
.search span.retrieve {
  color: #394da1;
  font-size: 16px;
  padding-top: 4px;
  cursor: pointer;
  visibility: hidden;
  float: right;
  margin-right: 3px;
}
.search span.retrieve.show {
  visibility: visible;
}
.search span.clear {
  color: #cccccc;
  font-size: 16px;
  padding-top: 4px;
  cursor: pointer;
  visibility: hidden;
  float: right;
  margin-right: 3px;
}
.search span.clear.show {
  visibility: visible;
}

.loading-indicator {
  margin-left: 20px;
}

.grid-container {
  margin-top: 15px;
}
.griddle-body tr:nth-child(odd) {
    background-color: #fbf3dd;
}
.griddle-nodata {
  margin-top: 25px;
  text-align: center;
}
.griddle-next button,
.griddle-previous button {
  color: #394da1 !important;
  font-weight: bold;
}
.griddle-body th {
  color: #394da1 !important;
}
.griddle-body td {
  background-color: transparent !important;
}
.griddle-body td.column-name {
  color: #000000 !important;
}
.griddle-body td.column-chrom,
.griddle-body td.column-txstart,
.griddle-body td.column-txend {
  color: #777777 !important;
}
.griddle-body .column-name,
.griddle-body .column-chrom {
  padding-left: 10px !important;
}
.griddle-body .column-txstart,
.griddle-body .column-txend {
  text-align: right;
  padding-right: 10px !important;
}
